* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.body {
    min-height: 100vh;
    position: relative; }

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    background: #5d585b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 60px;
    padding-left: 30px;
    height: auto;
}



/* !!!!!!!!!!!!!!!!NAVBAR!!!!!!!!!!!!!!!!*/
.navbar {
    padding-right: 80px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
    transition: .3s;
}
/* !!!!!!!!!!!!!!!!FIN NAVBAR!!!!!!!!!!!!!!!!*/



/* !!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!*/

.footer {
    width: 100%;
    position: relative; 
    bottom: 0;
    padding: 20px 30px;
    background: #5d585b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap;
}

.footer .right {
    margin-top: 10px; /* Add some spacing for smaller screens */
}

.footer .left a, .footer .right a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.footer .left, .footer .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.center{
    padding-right:150px;
    padding-left: 10px;
}

.footer .btn-linkedin, .footer .btn-cv {
    background: #A98B66;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    margin-right: 10px;
}

.footer .btn-linkedin i {
    font-size: 16px;
}

/* !!!!!!!!!!!!!!!!FIN FOOTER!!!!!!!!!!!!!!!!*/



/* !!!!!!!!!!!!!!!!CONTACT PAGE!!!!!!!!!!!!!!!!*/

.h1-contact{
    color: #364057;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

input, textarea{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border: 2px solid #364057;
    display: block;
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #364057;
    border-width: 3px;
}

.btn-contact {
    background: #364057;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    padding: 10px 20px;
    display: block;
    margin: 20px auto 10%;
    color: #fff;
}

.btn-contact:hover{
    opacity:80%;
    cursor: pointer;
}

.container-contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-contact img{
    width: 100px;
    height: 100px;
    display: block;
}

.img-contact{
  margin-left: 10%;
}

.form-contact {
    flex-grow: 1;
}
/* !!!!!!!!!!!!!!!!FIN CONTACT PAGE!!!!!!!!!!!!!!!!*/



/* !!!!!!!!!!!!!!!!PAGE PROJET!!!!!!!!!!!!!!!!*/
.h1-projetPage{
    color: #364057;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

.h2-projetPage{
    color: #364057;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.h3-projetPage{
    color: #364057;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.btn-projectPage{
    background: #364057;
    border-radius: 20px;
    font-size: 17px;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;

    color: #fff;
}
.btn-projectPage:hover{
    opacity:80%;
    cursor: pointer;
}

.container-projetPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-projectPage img{
    display: block;
}

#img_marketmadness{
    width: 300px;
    height: 200px;
}


#img_marketmadnessVignette{
    width: 300px;
    height: 200px;
}

#img_qcaventure{

    width: 300px;
    height: 300px;
}
#img_qcadventureVignette{
    width: 200px;
    height: 400px;
    padding: 20px;
}

.img-projectPage{
  margin-left: 10%;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}


.vignette img {
    width: 60%;
    height: 60%;
    display: block;
    border-radius: 8px;
}

.text-projectPage{
    margin: 0 10%;
}


/* !!!!!!!!!!!!!!!!FIN PAGE PROJET!!!!!!!!!!!!!!!!*/



/* !!!!!!!!!!!!!!!!RESPONSIVE STYLES!!!!!!!!!!!!!!!!*/



@media (max-width: 700px) {
    .vignette {
        margin-left:25%;
        flex: 1 1 calc(100% - 40px);
     
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .left, .footer .right {
        width: 100%;
        justify-content: space-between;
    }
    .footer .right {
        justify-content: flex-start;
        margin-top: 10px;
    }
    .footer .left a, .footer .right a {
        margin-bottom: 10px;
    }

    .container-contact {
        flex-direction: column;
        align-items: center;
    }

    .img-contact {
        margin: 0 0 20px 0;
    }

    .form-contact {
        width: 60%;
    }

    .h1-contact, input, textarea, .btn-contact {
        width: 100%;
        margin-left: 0;
    }

    .container-projetPage {
        flex-direction: column;
        align-items: center;
    }

    #img_marketmadness{

        width: 200px;
        height: 150px;
    }
    #img_qcaventure{

        width: 200px;
        height: 150px;
    }

    .img-projectPage{
        padding: 20px 0px 0px 0px;
        margin-left: 0%;
    }
}
